@using ManagementDoctorSystem.Models

@{
    ViewData["Title"] = "Reservations Management";
}

<h1>Reservations Management</h1>

<table class="table">
    
        @foreach(var item in Model)
        {
            <thead>
        <tr>
            <th>Doctor Name @item.Name</th>
                <th>Appointment Date @item.AppointmentDate</th>
                <th>Appointment Time @item.AppointmentTime</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <td>Patient Name @item.Name</td>
                <td>Appointment Date @item.AppointmentDate</td>
                <td>Appointment Time @item.AppointmentTime</td>
        </tr>
    </tbody>
        }
</table>
